[submodule "lib/ethers"]
	path = lib/ethers
	url = https://github.com/Amxx/ethers.js.git
	branch = features/eip-5806-transactions
[submodule "lib/ethereumjs-monorepo"]
	path = lib/ethereumjs-monorepo
	url = https://github.com/Amxx/ethereumjs-monorepo.git
	branch = features/eip-5806
[submodule "lib/go-ethereum"]
	path = lib/go-ethereum
	url = https://github.com/Amxx/go-ethereum.git
	branch = 5806_delegate_tx
[submodule "lib/revm"]
	path = lib/revm
	url = https://github.com/Amxx/revm.git
	branch = features/eip-5806
[submodule "packages/test-uniswap/lib/uniswap-v4-periphery"]
	path = packages/test-uniswap/lib/uniswap-v4-periphery
	url = https://github.com/Uniswap/v4-periphery.git
[submodule "lib/ethereumjs-monorepo-nomiclabs"]
	path = lib/ethereumjs-monorepo-nomiclabs
	url = https://github.com/Amxx/ethereumjs-monorepo.git
	branch = features/eip-5806-nomiclabs
[submodule "Amxx"]
	path = lib/hardhat-2.20.2
	url = https://github.com/Amxx/hardhat.git
	branch = features/eip5806/2.20.2
